<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <style>
        .container{
        text-align: center;
        background-color: pink;
        font-family: 'courier';
        }
        #button{
        color:pink;
        background-color: rgb(71, 107, 226);
        }
    </style>
</body>
<br>

<div class = "container">
<br>
<h1>글자를 세어드립니다</h1>
<a href="{%url 'about'%}">
<button type="button" class="btn btn-lg btn-primary" disabled>ABOUT PAGE</button>
<button type="button" class="btn btn-lg btn-primary" disabled>LIKELION</button>
<br>
<form action="{%url 'result'%}">
    <br>
    <textarea cols="40" rows="10" name="fulltext"></textarea>
    <br>
    <br>
    <input type="submit" value="Count!" id="button">
    <br>
    <br>
</form>
</a>
</div>

